<ion-header>
  <ion-toolbar>
    <ion-title style="font-family: 'letra3';">
      Gallinas App
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openEnd()">
        <ion-icon style="color: rgb(126, 81, 81);" slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- -----------------------------------MENU ---------------------------------->
<ion-menu side="start" menuId="custom" class="my-custom-menu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-item style="border: 3px solid rgb(134, 83, 83)(139, 92, 92) !important;--background:black">

        <ion-grid class="grida" style="width: 100%; flex-direction: column">
          <ion-row>
            <div class="ion-text-center" style="width: 100%; flex-direction: column">
              <ion-title *ngIf="UsuarioLocal" style="color: white;">{{UsuarioLocal.nombre}} {{UsuarioLocal.apellido}}
              </ion-title>
            </div>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>


      <ion-item (click)="ayuda()">
        <ion-icon name="help" slot="start"></ion-icon>
        <ion-label>Ayuda</ion-label>
      </ion-item>

      <ion-item (click)="cerrar()">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label style="font-family: 'labase3'">Cerrar Sesión</ion-label>
      </ion-item>
      <div padding style="background: #ffffff; margin-top: 1%;">



      </div>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet main></ion-router-outlet>


<ion-content style="--background: #212852; height: 100%;">
  <!--
<div class="ion-text-center">
  <ion-button  class="ion-text-center" style="width: 100px; height: 100px; margin: auto;" (click)="agregarPollosMuertos()">
    <img style="width: 100px;height: 100px;"src="../../assets/imagenes/chicken_line-28-512.png">
     <ion-text>{{deadChicken}} </ion-text>
  </ion-button>
</div>
-->
  <div class="ion-text-center">
    <h2 padding style="color: white;">Sensor 1</h2>
    <div text-center>
      <circle-progress [percent]="temperatura" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
        [outerStrokeColor]="'#ff7514'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
        [subtitle]="'Temperatura'" [units]="'°C'" [unitsColor]="'#ffffff'" [titleColor]="'#ffffff'"></circle-progress>

      <circle-progress [percent]="humedad" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
        [outerStrokeColor]="'#256d7b'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
        [subtitle]="'Humedad'" [units]="'°C'" [unitsColor]="'#ffffff'" [titleColor]="'#ffffff'"></circle-progress>
    </div>

  </div>

  <div class="ion-text-center">
    <h2 padding style="color: white;">Sensor 2</h2>
    <div text-center>
      <circle-progress [percent]="temperatura2" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
        [outerStrokeColor]="'#ff7514'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
        [subtitle]="'Temperatura'" [units]="'°C'"[unitsColor]="'#ffffff'" [titleColor]="'#ffffff'"></circle-progress>

      <circle-progress [percent]="humedad2" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
        [outerStrokeColor]="'#256d7b'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
        [subtitle]="'Humedad'" [units]="'°C'" [unitsColor]="'#ffffff'" [titleColor]="'#ffffff'"></circle-progress>
    </div>

  </div>


  <div class="ion-text-center">
    <h2 padding style="color: white;">Sensor 3</h2>




    <div text-center>
      <circle-progress [percent]="temperatura3" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
        [outerStrokeColor]="'#ff7514'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
        [subtitle]="'Temperatura'" [units]="'°C'" [unitsColor]="'#ffffff'" [titleColor]="'#ffffff'"></circle-progress>

      <circle-progress [percent]="humedad3" [radius]="60" [outerStrokeWidth]="10" [innerStrokeWidth]="7"
        [outerStrokeColor]="'#256d7b'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
        [subtitle]="'Humedad'" [units]="'°C'" [unitsColor]="'#ffffff'" [titleColor]="'#ffffff'"></circle-progress>
    </div>

  </div>





</ion-content>